<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tasks</title>
    <style>
        main > * {
            margin: 15px 0;
        }
        .task-body{
            width: 100%;
            justify-content: space-evenly;
            display: flex;
        }
    </style>
</head>
<body>
    <div>
        <h1>Lists of Tasks:</h1>
    </div>
    <div class="task-body">
        <div>
            <main>
                <h3>Node Tasks</h3>
                <div>
                    <a href="/first-node">Hello World! Program in NODE</a>
                </div>
                <div>
                    <a href="/attendance-home">Students' Attendance Reports</a>
                </div>
                <div>
                    <a href="/allResult">Student Result</a>
                </div>
                <div>
                    <a href="/dynamic-grid">Dynamic Grid generator from user given query</a>
                </div>
                <div>
                    <a href="/delimiter">Delimited Searching</a>
                </div>
                <div>
                    <a href="/json-place-holder">Sanket Sir's Task: JSON placeholder</a>
                </div>
            </main>
        </div>

        <div>
            <h3>Core JavaScript Tasks</h3>
            <main>
                <div>
                    <a href="/dynamic-rows-cols">Dynamic Rows and Columns</a>
                </div>
                <div>
                    <a href="/kuku-kube"  >Kuku-Kube</a>
                </div>
                <div>
                    <a href="/tic-tac-toe"  >Tic-Tac-Toe</a>
                </div>
                <div>
                    <a href="/all-js-events"  >All JavaScript Events</a>
                </div>
            </main>
        </div>

        <div>
            <h3>CSS Tasks</h3>
            <main>
                <div>
                    <a href="/css_1"  >CSS Task-1: EHYA Website</a>
                </div>
                <div>
                    <a href="/css_2"  >CSS Task-2: Awan Hosting Website</a>
                </div>
                <div>
                    <a href="/css_3"  >CSS Task-3: Hirex Website</a>
                </div>
            </main>
        </div>
    </div>
    
        


</body>
</html>