
    <!-- Developer Name:    Lalit Mishra    -->
    <!-- Developer ID:      24DEV018        -->
    <!-- Date:              05-MAR-2024      -->

<div class="padNorm">
    <div class="textCenter">
        <h4>Thank You for visiting</h4>
    </div>
    <div class="textCenter">
        &copy; 2024: Lalit Mishra
    </div>
</div>