<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <%- include('header') %>
        </header>
        <main>
            <section>
                <h1>Welcome to Result Report Home Page</h1>
            </section>
            <section>
                <p>Click here to view overall result report</p>
                <a href="/allResult">
                    <button class="homeBtn">Result Report</button>
                </a>
            </section>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>
</html>