<%# Developer Name:         Lalit Mishra %>
<%# Date:                   27-Feb-2024 %>    
<%# Description:            This file contains the view for the root page (Home Page). %>

<!DOCTYPE html>
<html>

<head>
    <title>Attendance Records</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <style>
        body{
            background-color: #f0f0f0;
            color: black;
        }
        header, footer{
            padding: 20px 36px;
        }
        main{
            background-color: #fff;
        }
    </style>
</head>
<body>

</body>
    <header>
        <h1>Lalit Mishra</h1>
        <h3>27-Feb-2024</h3>
    </header>
    <main>
        <br>
        <br>
        <div align="center">
            <h3>Click here to see the Attendance Reports: </h3>
            <a href="/attendance-report?y=23&m=12&ob=studId&page=1">
                <button>Attendance Reports</button>
            </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>
    <footer>
        <div>
            <h3>Thank You!</h3>
        </div>
    </footer>
</html>